.filter-container {
    background-color: var(--pitt-yellow);
    height: 36px;
    width: auto;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 0.05s ease-in-out;
    overflow: hidden;
    align-items: center;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: auto;
}

.filter-container:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}
