.filter-container {
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 6px 15px;
    border-radius: 50px;
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
