.github-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 45px;
    cursor: pointer;
    gap: 10px;
}

.github-logo {
    height: 25px;
    width: auto;
}

.github-login-text {
    text-decoration: none;
    color: white;
}

.github-logout-button {
    cursor: pointer;
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: white;
}

.github-logout-button:hover {
    background-color: black;
    color: white;
}