.joblist-posting {
    display: flex;
    border: 2px solid var(--pitt-blue);
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--job-card-background-color);
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.joblist-container {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--pitt-blue);
    border-bottom: 1px solid var(--pitt-blue);
    border-radius: 0px 0px 0px 5px;
    min-height: 0;
    overflow: auto;
}

.joblist-posting-name,
.joblist-posting-locations-container,
.joblist-posting-status {
    font-size: 20px;
}

.joblist-posting-name {
    width: fit-content;
}

.joblist-posting-locations-container {
    overflow-x: auto;
    flex: .6;
    display: flex;
    align-items: center;
    gap: 5px;
}

.joblist-posting-status {
    flex: .15;
    display: flex;
    align-items: center;
    gap: 2px;
}

.joblist-locations {
    white-space: nowrap;
}

.joblist-posting-status-symbol {
    align-items: flex-end;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.joblist-posting-location-symbol {
    height: 25px;
    color: red;
}

.job-open {
    background-color: rgb(74, 255, 74);
}

.job-closed {
    background-color: red;
}

