.job-posting-container {
    width: 75%;
    justify-content: center;
    display: flex;
}

.job-posting-container-object {
    width: 50%;
    height: 72vh; 
}

.job-postings {
    display: flex;
    flex-direction: column;
}

.job-displayed {
    border-radius: 0px 5px 5px 0px;
    background-color: var(--job-card-background-color);
    border: 1px solid var(--pitt-blue);
    overflow: auto;
}

.job-posting-null {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--pitt-blue);
}

.loading-message {
    color: var(--text-color);
}