.layout-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--layout-background-color);
    flex: 1;
}

.layout-footer {
    margin-top: auto;
    color: var(--text-color);
}