.layoutButtons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.layout-button {
    padding: 10px;
    width: 150px;
    height: 65px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 25px;
}

.layout-button:hover {
    cursor: pointer;
}

.layout-filter-button {
    background-color: var(--pitt-blue);
}

.layout-filter-button:hover {
    border: 2px solid var(--pitt-yellow);
}

.layout-add-button {
    background-color: var(--pitt-yellow);
}

.layout-add-button:hover {
    border: 2px solid var(--pitt-blue);
}