.user-list-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.user-list-title {
    text-align: center;

}

.user-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}